body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.content {
  background-color: #1ebea5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 40pt;
}

.library {
  width: 600px;
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 16px;
}

input,
button {
  width: 100%;
  font-family: inherit;
  font-size: 16pt;
  padding: 0.4em;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
